<div id="contact-container" class="container-fluid">
    <div id="contact-row" class="row">
        <div id="contact-col" class="col-sm-12 h-100 w-100 p-0">

            <div class="row mx-4">

                <div class="title-col col-sm-12 text-left">
                    <h5 class="mt-3 pl-2">CONTACT ME !</h5>
                </div>

            </div>

            <div id="contact-form-row" class="content-row row justify-content-center">
                <div class="col-lg-7 mt-5">

                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control mt-3" id="emailContactForm" placeholder="name@example.com">
                            <input type="text" class="form-control mt-3" id="subjectContactForm" placeholder="Subject :">
                            <textarea class="form-control mt-3" id="messageContactForm" rows="8" placeholder="Enter your message !"></textarea>
                            <input type="submit" class="btn btn-light mt-3 col-6" value="Send Message !">
                        </div>
                    </form>

                </div>
                <div class="col-1"></div>

                <div class="col-lg-2 mt-5">
                    <div class="row">
                        <div class="col-12 border border-dark border-top-0 border-right-0 border-bottom-0 text-left">
                            <p class="font-weight-bold m-2 text-uppercase">pro@elielaloum.fr</p>
                            <p class="font-weight-bold m-2 text-uppercase">perso@elielaloum.fr</p>
                            <p class="font-weight-bold m-2">0633495607</p>
                            <p class="font-weight-bold m-2 mb-5">Paris , 75000</p>
                        </div>
                    </div>
                </div>
            </div>

            {#<div id="footer-row" class="row">#}

            {#</div>#}

        </div>
    </div>
</div>