<div id="about-container" class="container-fluid">
    <div id="about-row" class="row">
        <div id="about-col" class="col-sm-12 h-100 w-100 p-0">

            <div class="row mx-4">

                <div class="title-col col-sm-12 text-left">
                    <h5 class="mt-3 pl-2">ABOUT ME !</h5>
                </div>

            </div>

            <div class="content-row row justify-content-center">
                <div class="col-5 p-0">
                     <div class="row m-0">

                        <div id="about-img" class="col-4 p-0 border"></div>

                        <div class="col-7 text-left">

                        </div>
                    </div>

                </div>

                <div class="col-5">
                    <div id="about-skills-1" class="row">
                        <div class="col-11 mt-2 mb-2">
                            <small id="1Help" class="form-text text-muted">Skill Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" aria-describedby="1Help"></div>
                            </div>
                            <small id="2Help" class="form-text text-muted">Skill Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" aria-describedby="2Help"></div>
                            </div>
                        </div>
                        <div id="about-skills-btn-next-1"></p>
                        </div>
                    </div>
                    <div id="about-skills-2" class="row">
                        <div class="col-11 mt-2 mb-2">
                            <small id="1Help" class="form-text text-muted">Skill 2 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" aria-describedby="1Help"></div>
                            </div>
                            <small id="2Help" class="form-text text-muted">Skill 2 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" aria-describedby="2Help"></div>
                            </div>
                            <small id="3Help" class="form-text text-muted">Skill 2 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-describedby="3Help"></div>
                            </div>
                            <small id="4Help" class="form-text text-muted">Skill 2 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-describedby="4Help"></div>
                            </div>
                        </div>
                        <div id="about-skills-btn-next-2"></p>
                        </div>
                    </div>
                    <div id="about-skills-3" class="row">
                        <div class="col-11 mt-2 mb-2">
                            <small id="1Help" class="form-text text-muted">Skill 3 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" aria-describedby="1Help"></div>
                            </div>
                            <small id="2Help" class="form-text text-muted">Skill 3 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" aria-describedby="2Help"></div>
                            </div>
                            <small id="3Help" class="form-text text-muted">Skill 3 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-describedby="3Help"></div>
                            </div>
                            <small id="4Help" class="form-text text-muted">Skill 3 Label</small>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-describedby="4Help"></div>
                            </div>
                        </div>
                        <div id="about-skills-btn-next-3"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>