<div id="header-container" class="container-fluid">
    <div id="header-row" class="row">
        <div id="header-col" class="col-sm-12 h-100 w-100 p-0">

            <div id="header-title" class="row m-0 justify-content-center w-100">
                <div class="col-sm-5 text-center">
                    <h3 class="font-weight-bold text-uppercase"><span class="title-header-rotate" data-period="2000" data-rotate='[ "{{ 'I am a developer.'|trans }}", "{{ 'I am a WebDesigner.'|trans }}", "{{ 'Welcome!.'|trans }}" ]'></span></h3>
                </div>
            </div>

            <div id="first-componentNav-row" class="row m-0 justify-content-center w-100">
                <div class="col-sm-12 text-center">
                    <span id="fist-componentNav-btn"><i class="fas fa-chevron-down fa-2x"></i></span>
                </div>
            </div>

        </div>
    </div>
</div>