<div id="works-container" class="container-fluid">
    <div id="works-row" class="row">
        <div id="works-col" class="col-sm-12 h-100 w-100 p-0">

            <div class="row mx-4 title-row">

                <div class="title-col col-sm-12 text-left">
                    <h5 class="mt-3 pl-2 font-weight-bold">MY WORKS !</h5>
                </div>

            </div>

            <div class="content-row row">

                <div class="col-sm-12">
                </div>

            </div>

        </div>
    </div>
</div>