<button id="navbar-btn" title="Show navigation bar" class="generic-btn"><i class="fas fa-bars"></i></button>
<button id="page-top-btn" title="Go to home" class="generic-btn"><i class="fas fa-home"></i></button>
<button id="page-plus-btn" title="Go one page up" class="generic-btn"><i class="fas fa-chevron-up"></i></button>
<button id="page-minus-btn" title="Go one page down" class="generic-btn"><i class="fas fa-chevron-down"></i></button>