/* Navbar */
#dashboard-navbar-col {
  position: fixed;
  display: none;
  bottom: auto;
  height: auto;
  min-height: auto;
  max-height: auto;
  background-color: transparent;
  color: black;

  .nav-link {
    margin-top: 5vh !important;
    color: black !important;
  }

  .link {
    border: 1px solid lightgray;
    min-width: auto;
    width: auto;
    max-width: auto;

    &:hover {
      background-color: lightgray;
      color: white !important;
      transition: all 1s;
    }
  }
}

/* Navbtns */
#dashboard-navbar-btn {
  display: block !important;
  top: 7vh;
  right: 2vw;
}

/* Section */
#dashboard-home-container {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;

  #dashboard-home-row {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    #dashboard-home-col {
      background-color: white;
      height: 100vh;
      min-height: 100vh;
      max-height: 100vh;

      .todoToolsBtn {
        color: black;
        background: white;
        transition: all 1s;
      }

      .todoToolsBtn:hover {
        color: white;
        background: black;
      }

      .todoLabel {
      }

      .todoToolsPanel {
        display: none;
        position: absolute;
        top: 0;
        background: white;
      }

      .panelBtn {
        color: white;
        background: black;
        transition: all 1s;
      }

      .panelBtn:hover {
        background: white;
        color: black;
      }

      .todoToolsReport {
      }
    }
  }
}