/* Navbar */
#dashboard-navbar-col {
  position: fixed;
  display: none;
  bottom: auto;
  height: auto;
  min-height: auto;
  max-height: auto;
  background-color: transparent;
  color: black;

  .nav-link {
    margin-top: 0.5vh !important;
    color: black !important;
  }

  .link {
    border: 1px solid lightgray;
    min-width: auto;
    width: auto;
    max-width: auto;

    &:hover {
      background-color: lightgray;
      color: white !important;
      transition: all 1s;
    }
  }
}

/* Navbtns */
#dashboard-navbar-btn {
  display: block !important;
  top: 7vh;
  right: 2vw;
}

/* Section */
#dashboard-home-container {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;

  #dashboard-home-row {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    #dashboard-home-col {
      background-color: white;
      height: 100vh;
      min-height: 100vh;
      max-height: 100vh;
    }
  }
}

/* Components */
#dashboard-components-row {
  margin-top: 10vh;

  /* Todo */
  #todoComponent-col {
    height: auto;
    width: 35vw;

    #todoComponent-header {
      height: 5vh;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    #todoComponent-elements {
      min-height: 15vh;
      height: auto;
      max-height: 60vh;
      overflow-y: auto;

      #mCSB_1_container {
        margin-right: 0 !important;
      }

      .todoComponent-element {
        height: auto;
        border-bottom: 1px solid white;
        display: none;

        &:hover {
          .todoComponent-element-icon {
            background-color: white;
            border-right: 1px solid lightgray;
            transition: 1s all;
          }
          .todoComponent-element-libelle {
            background-color: white;
            transition: 1s all;
          }
        }
      }
      .todoComponent-element-icon {
        border-right: 1px solid white;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .todoComponent-element-libelle {
        height: 5vh;
        display: flex;
        align-items: center;

        & p {
          margin-top: 1vh;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .todoComponent-element-toolsbox {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 5vh;
        border: none;

        &:hover {
          background: white !important;
        }

        .todoComponent-element-toolsbox-tool {
          height: 5vh;
          min-height: 5vh;
          max-height: 5vh;
          border-right: 1px solid white;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: white !important;
            color: black !important;
            border: none !important;
            transition: all 1s;
          }
        }
        .last {
          border-right: none !important;
        }
      }
      .todoComponent-element-desc {
        display: none;
        height: 7vh;
        background-color: white !important;
        border-bottom: 1px solid white;
        align-items: center;

        p {
          font-weight: bold;
          font-size: 12px;
          border-left: 2px solid black;
        }
      }
    }
    #todoComponent-input {
      min-height: 5vh;
      height: 5vh;
      max-height: 5vh;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      #todoComponent-input-libelle {
        height: 4vh;
        outline:0 !important;
        box-shadow: none;
        -webkit-appearance:none;
      }
      #todoComponent-input-description {
        height: 10vh;
        outline:0 !important;
        box-shadow: none;
        -webkit-appearance:none;
      }
      #todoComponent-input-submit-btn {
        height: 5vh;
        border-radius: 0;
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        outline:0 !important;
        box-shadow: none;
        -webkit-appearance:none;
      }
    }

  }

}