<nav id="dashboard-navbar-col" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-0 mr-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold pl-0" href="/">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/">TODO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/">ECONOMY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/">MAILS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/">SERVERS</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item ml-2">
                    <a class="nav-link link font-weight-bold" href="/">BACK-OFFICE</a>
                </li>
                <li class="nav-item dropdown ml-2">
                    <a class="nav-link link font-weight-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TEST</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('injectUsers') }}">INJECT USERS</a>
                        <a class="dropdown-item" href="{{ path('injectTodos') }}">INJECT TODOS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">FIXTURE CONFIG</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item ml-1">
                    <a class="nav-link link font-weight-bold" href="/logout">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>