{% extends "base.html.twig" %}

{% block body %}

    {# NAVBAR #}

    {{ render(controller('App\\Controller\\DashboardController::navbarAction')) }}

    {# NAV BUTTON #}

    {{ render(controller('App\\Controller\\DashboardController::navbtnsAction')) }}

    <div id="dashboard-home-container" class="container-fluid">
        <div id="dashboard-home-row" class="row">
            <div id="dashboard-home-col" class="col-sm-12 h-100 w-100 pl-5 pt-3">

            </div>
        </div>
    </div>

{% endblock %}