{% extends "base.html.twig" %}

{% block body %}

    {# NAVBAR #}

    {{ render(controller('App\\Controller\\DashboardController::navbarAction')) }}

    {# NAV BUTTON #}

    {{ render(controller('App\\Controller\\DashboardController::navbtnsAction')) }}

    <div id="dashboard-home-container" class="container-fluid">
        <div id="dashboard-home-row" class="row">
            <div id="dashboard-home-col" class="col-sm-12 h-100 w-100 pl-5 pt-3">

                {#NEED TO WORK ON IT AND MAYBE REMOVE IT ! DO A BETTER ONE WITH FONT AWESOME CHEVRON LEFT TODO EXEMPLE#}

                <div style="min-height: 25vh; height: 25vh; max-height: 50vh; width: 30vw; margin-top: 10vh;">

                    <!-- TODO HEADER -->

                    <div class="row m-0">

                        <div class="col-12 p-0" style="min-height: 50px; max-height: 50px; height: 50px; background: black">

                            <div class="row m-0 h-100 w-100 justify-content-center align-items-center">
                                <div class="col-11 p-0 text-left">
                                    <span><i class="far fa-check-square fa-2x" style="color: white;"></i></span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- ----------- -->

                    <!-- TODO ITEMS -->

                    <!-- CHECK TODO -->

                    <div class="row m-0" style="min-height: auto; max-height: auto; height: auto;">
                        <div class="col-12 p-0 mt-2" style="min-height: 50px; max-height: 50px; height: 50px;">

                            <div class="row m-0 justify-content-center">

                                <div id="01" class="border p-0 text-center todoToolsBtn" style="width: 55px; min-height: 50px; max-height: 50px; height: 50px;">
                                    <span class="align-middle"><i class="fas fa-check fa-2x mt-2"></i></span>
                                </div>

                                <div class="col-10 border p-0 ml-1" style="min-height: 50px; max-height: 50px; height: 50px;">
                                    <div class="row w-100 h-100 m-0">

                                        <div class="col-12 w-100 h-100 text-center todoLabel">
                                            <div class="row h-100 m-0 justify-content-center align-items-center">
                                                <div class="col-11 p-0 text-left">
                                                    <p class="p-0 m-0 font-weight-bold">Lorem ipsum dolor !</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 w-100 h-100 p-0 todoToolsPanel todoToolsPanel-01">
                                            <div class="row w-100 h-100 m-0">
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-angle-double-right fa-2x mt-2"></i></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-chevron-left fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-chevron-right fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-exclamation fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-times fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-check fa-2x mt-2"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row m-0" style="min-height: auto; max-height: auto; height: auto;">
                        <div class="col-12 p-0 mt-2" style="min-height: 50px; max-height: 50px; height: 50px;">

                            <div class="row m-0 justify-content-center">

                                <div id="02" class="border p-0 text-center todoToolsBtn" style="width: 55px; min-height: 50px; max-height: 50px; height: 50px;">
                                    <span class="align-middle"><i class="fas fa-check fa-2x mt-2"></i></span>
                                </div>

                                <div class="col-10 border p-0 ml-1" style="min-height: 50px; max-height: 50px; height: 50px;">
                                    <div class="row w-100 h-100 m-0">

                                        <div class="col-12 w-100 h-100 text-center todoLabel">
                                            <div class="row h-100 m-0 justify-content-center align-items-center">
                                                <div class="col-11 p-0 text-left">
                                                    <p class="p-0 m-0 font-weight-bold">Lorem ipsum dolor !</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 w-100 h-100 p-0 todoToolsPanel todoToolsPanel-02">
                                            <div class="row w-100 h-100 m-0">
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-angle-double-right fa-2x mt-2"></i></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-chevron-left fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-chevron-right fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-exclamation fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-times fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-check fa-2x mt-2"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row m-0" style="min-height: auto; max-height: auto; height: auto;">
                        <div class="col-12 p-0 mt-2" style="min-height: 50px; max-height: 50px; height: 50px;">

                            <div class="row m-0 justify-content-center">

                                <div id="03" class="border p-0 text-center todoToolsBtn" style="width: 55px; min-height: 50px; max-height: 50px; height: 50px;">
                                    <span class="align-middle"><i class="fas fa-check fa-2x mt-2"></i></span>
                                </div>

                                <div class="col-10 border p-0 ml-1" style="min-height: 50px; max-height: 50px; height: 50px;">
                                    <div class="row w-100 h-100 m-0">

                                        <div class="col-12 w-100 h-100 text-center todoLabel">
                                            <div class="row h-100 m-0 justify-content-center align-items-center">
                                                <div class="col-11 p-0 text-left">
                                                    <p class="p-0 m-0 font-weight-bold">Lorem ipsum dolor !</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 w-100 h-100 p-0 todoToolsPanel todoToolsPanel-03">
                                            <div class="row w-100 h-100 m-0">
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-angle-double-right fa-2x mt-2"></i></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-chevron-left fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-chevron-right fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-exclamation fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-times fa-2x mt-2"></i></span>
                                                </div>
                                                <div class="col-2 p-0 text-center panelBtn">
                                                    <span class="align-middle"><i class="fas fa-check fa-2x mt-2"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- ---------- -->

                    <!-- ---------- -->

                    <!-- TODO INSERT -->

                    <div class="row m-0 mt-2">

                        <div class="col-12 border border-dark border-top-0 border-right-0 border-left-0 p-0" style="min-height: 50px; max-height: 50px; height: 50px;">

                            <div class="row m-0 h-100 w-100 justify-content-center align-items-center">
                                <div class="col-12 p-0 text-center">
                                    <form>
                                        <input type="email" class="form-control form-control-lg border-0" id="colFormLabelLg" placeholder="Add new entry !" style="box-shadow: none;">
                                        <input type="submit" style="display: none; box-shadow: none;">
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- ----------- -->

                </div>

            </div>
        </div>
    </div>

{% endblock %}