{% if percent <= 40 %}
    <div class="col-2 border border-success" style="height: 6vh; display: flex; align-items: center; justify-content: center; color: green">
        <p class="m-0 font font-weight-bold">{{ percent }}%</p>
    </div>
{% elseif percent >= 60 %}
    <div class="col-2 border border-danger" style="height: 6vh; display: flex; align-items: center; justify-content: center; color: red">
        <p class="m-0 font font-weight-bold">{{ percent }}%</p>
    </div>
{% else %}
    <div class="col-2 border border-dark" style="height: 6vh; display: flex; align-items: center; justify-content: center">
        <p class="m-0 font font-weight-bold">{{ percent }}%</p>
    </div>
{% endif %}