<div id="financialComponent-col" class="col-4 offset-5">
    <div class="row">

        <div id="financialComponent-header" class="col-12 bg-dark">
        </div>

        <div id="financialComponent-elements" class="col-12">
            <div class="row financialComponent-account">
                <div class="col-12 border border-dark border-left-0 border-right-0 financialComponent-account-header" style="height: 3.5vh">
                </div>
                <div class="col-12 bg-success financialComponent-element-account-plus" style="height: 5vh;">

                </div>
                <div class="col-10 offset-2 bg-danger financialComponent-element-account-minus" style="height: 5vh;">

                </div>
            </div>
        </div>
    </div>
</div>