<nav id="financial-navbar-col" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-0 mr-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/dashboard"><i class="fas fa-chevron-left"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0 ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="operationpNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Credit operation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="operationpNavbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="operationmNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Debit operation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="operationmNavbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('financial_edit_account', {'idA': datas.account.id}) }}"> Edit Account </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">

            </ul>
        </div>

    </div>
</nav>